.products {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .title-pattern {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  .indicators {
    margin-top: 30px;
  }
  
  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .indicator-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .indicator-value {
    font-size: 18px;
    font-weight: bold;
  }